/* || RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* || VARIABLES */

:root {
  /* COLORS */
  --FT-COLOR: #111111;
  --HEADER--BGCOLOR: white;
  --THEME-COLOR: #d2b356;
  --Para-COLOR: #9c9c9c;
}

/* || GENERAL STYLES */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  color: var(--FT-COLOR);
}

ul {
  list-style: none;
}

a:any-link {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* || HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  background-color: var(--HEADER--BGCOLOR);
  z-index: 1;
}

header .logo {
  font-size: 2rem;
  font-weight: bolder;
}

header ul {
  display: flex;
  gap: 1.5em;
  padding: 1.25rem 0;
}

header a:any-link {
  font-size: 0.95rem;
  display: block;
  color: inherit;
  transition: opacity 1s;
}

header a:any-link:hover {
  opacity: 0.6;
}

.menu,
.menu::before,
.menu::after {
  width: 25px;
  height: 5px;
  background-color: var(--FT-COLOR);
  border-radius: 10px;
}

.menu {
  display: none;
  position: relative;
}

.menu::before,
.menu::after {
  content: "";
  position: absolute;
}

.menu::before {
  top: -8px;
}

.menu::after {
  top: 8px;
}

.social {
  display: flex;
  gap: 1.5rem;
}

@media screen and (max-width: 1024px) {
  header nav {
    order: 1;
  }

  header nav ul {
    display: block;
    position: absolute;
    top: -10000px;
    left: 0;
    width: 100%;
    background-color: var(--HEADER--BGCOLOR);
    transition: top 0.5s ease;
  }

  header nav:hover ul {
    z-index: 1;
    top: 60px;
  }

  header nav ul {
    padding: 1.25rem 0.5rem;
  }

  header nav li {
    padding: 1.25rem 0.25rem;
    border-bottom: 1px solid #e1e1e1;
  }

  header .menu {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .social {
    display: none;
  }
}

/* LANDING SECTION */
.landing {
  padding: 10rem 2.5rem;
  background-image: url(../photos/banner-image-1.jpg);
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
}

.landing .content {
  width: 30%;
  margin-bottom: 4rem;
  position: relative;
}

.landing .content::before,
.landing .content::after {
  content: "";
  position: absolute;
  background: var(--THEME-COLOR);
  width: 30px;
  height: 5px;
  left: 5px;
}

.landing .content::before {
  top: -10px;
}

.landing .content::after {
  bottom: -30px;
}

.landing h1 {
  font-weight: bolder;
  font-size: 4rem;
  margin-bottom: 0.5em;
}

.landing p {
  font-size: 1.25rem;
}

.landing a:any-link {
  color: var(--FT-COLOR);
  padding: 10px;
  border: 2px solid var(--FT-COLOR);
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 1s ease-in-out;
}

.landing a:is(a:hover, a:focus) {
  border-color: var(--THEME-COLOR);
  color: var(--THEME-COLOR);
}

@media screen and (max-width: 768px) {
  .landing {
    padding: 5rem 2.5rem;
  }
  .landing .content {
    width: 100%;
  }
}

/* SKILLS SECTION */
.skills-section {
  padding: 10rem 2.5rem;
  display: flex;
  gap: 2rem;
}

.skills-section .text {
  padding: 1rem;
  flex-basis: 30%;
}

.skills-section h2 {
  font-size: 1rem;
  letter-spacing: 5px;
  color: #ccc;
  margin-bottom: 1.5rem;
}

.skills-section h3 {
  font-size: 2.5rem;
  margin-bottom: 5rem;
  position: relative;
}

.skills-section h3::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 5px;
  background-color: var(--THEME-COLOR);
  left: 0;
  bottom: -40px;
}

.skills-section .text p {
  color: var(--Para-COLOR);
}

.skills {
  flex-basis: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2rem;
}

.skill {
  flex-basis: 49%;
  display: flex;
  flex-flow: nowrap column;
  gap: 2rem;
  padding: 1rem;
}

.skill i {
  font-size: 3rem;
  color: var(--THEME-COLOR);
}

.skill h4 {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .skills-section {
    padding: 5rem 2.5rem;
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .skills {
    flex-direction: column;
  }
}

/* GALLERY SECTION */
.gallery {
  padding: 3rem 2rem;
  display: flex;
  flex-wrap: wrap;
}

.photo {
  flex-basis: calc(100% / 3);
  position: relative;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.photo a {
  display: block;
}

.photo::after {
  content: "+";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3rem;
  color: var(--THEME-COLOR);
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  background-color: white;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.photo:hover::after {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .photo {
    flex-basis: calc(100% / 2);
  }
}

@media screen and (max-width: 576px) {
  .photo {
    flex-basis: 100%;
  }
}

/* CONTENT SECTION  */
.content-section {
  padding: 5rem 2.5rem;
  display: flex;
}

.content-section div {
  flex-basis: calc((100% / 3) - 20px);
}

.quote {
  padding: 2rem;
  text-align: right;
}

.quote q {
  display: block;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.quote p {
  position: relative;
  width: fit-content;
  margin-left: auto;
  white-space: nowrap;
}

.quote p::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 1px;
  background-color: var(--FT-COLOR);
  top: 50%;
  left: -22px;
}

.content-section .text {
  padding: 1rem;
}

.content-section h2 {
  font-size: 1rem;
  letter-spacing: 2px;
  color: var(--Para-COLOR);
  margin-bottom: 2rem;
}

.content-section h3 {
  font-size: 2rem;
  margin-bottom: 5rem;
  position: relative;
}

.content-section h3::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 5px;
  background: var(--THEME-COLOR);
  bottom: -60px;
  left: 0;
}

.content-section p:nth-child(3) {
  color: var(--Para-COLOR);
}

.content-section .text p {
  margin-bottom: 2rem;
}

.content-section a {
  display: block;
  width: fit-content;
  border: 5px solid var(--FT-COLOR);
  padding: 1rem 2.5rem;
  font-size: 0.75rem;
  font-weight: 900;
  color: var(--FT-COLOR);
  letter-spacing: 2px;
  transition: all 0.5s ease-in-out;
}

.content-section a:is(a:hover, a:focus) {
  color: var(--THEME-COLOR);
  border-color: var(--THEME-COLOR);
}

@media screen and (max-width: 992px) {
  .content-section {
    flex-wrap: wrap;
  }

  .content-section div {
    flex-basis: calc((100% / 2 - 20px));
  }
}

@media screen and (max-width: 768px) {
  .content-section {
    padding: 5rem 1rem;
  }
}

@media screen and (max-width: 576px) {
  .content-section div {
    flex-basis: 100%;
  }
}

/* FEEDBACK SECTION */
.feedback {
  text-align: center;
  padding: 5rem;
}

.feedback h2 {
  font-size: inherit;
  letter-spacing: 2px;
  color: var(--Para-COLOR);
}

.feedback h3 {
  font-size: 2rem;
}

.feedback h2,
.feedback h3 {
  margin-bottom: 2rem;
}

.customers {
  display: flex;
  justify-content: space-between;
}

.customer {
  flex-basis: calc(100% / 3 - 20px);
  padding: 1rem;
}

.customer .image {
  width: 120px;
  height: 120px;
  margin: 0 auto 2rem;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.customer q {
  padding: 2rem;
  color: var(--FT-COLOR);
  opacity: 0.7;
  margin-bottom: 2rem;
  display: block;
  position: relative;
  line-height: 1.5;
}

.customer q::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 5px;
  background-color: var(--THEME-COLOR);
  left: calc(50% - 20px);
  bottom: -10px;
}

@media screen and (max-width: 992px) {
  .feedback {
    padding: 5rem 1rem;
  }

  .customer q {
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .feedback .customers {
    flex-wrap: wrap;
  }
  .customer {
    flex-basis: calc(100% / 2 - 20px);
  }
}

@media screen and (max-width: 576px) {
  .feedback {
    padding: 2rem 1rem;
  }
  .customer {
    flex-basis: 100%;
  }
}

/* COMPANIES SECTION */
.companies {
  padding: 5rem 2.5rem;
  display: flex;
  justify-content: space-between;
}

.companies .text {
  flex-basis: 30%;
  padding: 2rem 0;
}

.companies h2 {
  font-size: 1rem;
  letter-spacing: 2px;
  color: var(--Para-COLOR);
  margin-bottom: 2rem;
}

.companies h3 {
  font-size: 2rem;
  margin-bottom: 5rem;
  position: relative;
}

.companies h3::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 5px;
  background: var(--THEME-COLOR);
  bottom: -60px;
  left: 0;
}

.companies p {
  color: var(--Para-COLOR);
}

.logos {
  flex-basis: 65%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.logos .logo {
  flex-basis: calc((100% / 3) - 20px);
  position: relative;
  cursor: pointer;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  color: white;
  display: grid;
  place-content: center;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.logo:hover .layer {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .companies {
    flex-direction: column;
  }

  .logos .logo {
    flex-basis: calc((100% / 2) - 20px);
  }
}

@media screen and (max-width: 576px) {
  .logos .logo {
    flex-basis: 100%;
  }
}

/* PLANS SECTION */

.plans {
  padding: 5rem 2.5rem;
  text-align: center;
  background-color: #f5f5f5;
}

.plans > h2 {
  font-size: 1rem;
  letter-spacing: 2px;
  color: var(--Para-COLOR);
  margin-bottom: 2rem;
}

.plans > h3 {
  font-size: 2rem;
  margin-bottom: 5rem;
  position: relative;
}

.all-plans {
  display: flex;
  justify-content: space-between;
}

.plan {
  background-color: white;
  padding: 2rem;
  flex-basis: calc((100% / 3) - 20px);
  color: var(--FT-COLOR);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: all 0.5s ease-in-out;
  border: 10px solid white;
}

.plan:hover {
  border-color: var(--THEME-COLOR);
}

.plan h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
}

.plan h3 {
  color: var(--Para-COLOR);
  font-weight: 100;
  font-style: italic;
}

.price {
  background-color: #f5f5f5;
  padding: 2rem 0.5rem;
}

.price h4 {
  font-size: 4rem;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.price h4::before {
  content: "\0024";
  position: absolute;
  top: 0;
  left: 0;
  left: -20px;
  font-size: 2rem;
}

.price p {
  color: var(--Para-COLOR);
}

.advantages li {
  color: var(--FT-COLOR);
  padding: 1rem;
  border-bottom: 1px solid #e1e1e1;
}

.advantages li:last-of-type {
  border: none;
}

.plan a {
  display: block;
  width: fit-content;
  border: 5px solid var(--FT-COLOR);
  padding: 1rem 2.5rem;
  margin: 0 auto;
  font-size: 0.75rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--FT-COLOR);
  letter-spacing: 2px;
  transition: all 0.5s ease-in-out;
}

.plan a:is(a:hover, a:focus) {
  color: var(--THEME-COLOR);
  border-color: var(--THEME-COLOR);
}

@media screen and (max-width: 992px) {
  .all-plans {
    flex-wrap: wrap;
  }

  .plan {
    flex-basis: calc((100% / 2) - 60px);
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .plan {
    flex-basis: 100%;
  }
}

/* FOOTER */
footer {
  color: var(--Para-COLOR);
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

.media {
  display: flex;
}

.media a {
  padding: 1rem;
  color: inherit;
}

@media screen and (max-width: 576px) {
  footer {
    padding: 3rem 1rem;
  }

  .media a {
    padding: 1rem 0.5rem;
  }
}
